<div class="d-flex align-items-center">
  <div class="mx-auto" style="width: 100%; font-size: 30px; margin: 10px;">
    👮ログインしてタスクを追加しましょう
  </div>
</div>
<%= render partial: 'users/login_form' %>

<div class="d-flex align-items-center">
  <div class="mx-auto" style="width: 100%; font-size: 30px; margin: 10px;">
    🏠現在登録中のタスク一覧
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>

<table class="table table-hover boards__table">
  <thead class="thead-light">
    <tr>
      <th>ID</th>
      <th>タイトル</th>
      <th>作成者</th>
      <th>作成日時</th>
      <th>更新日時</th>
    </tr>
  </thead>
  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= board.id %></td>
        <td><%= board.title %></td>
        <td><%= board.name %></td>
        <td><%= board.created_at.to_s(:datetime_jp) %></td>
        <td><%= board.updated_at.to_s(:datetime_jp) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @boards %>
