<% unless @current_user %>
<div class="d-flex align-items-center">

  <div class="mx-auto" style="width: 100%; font-size: 30px; margin: 10px;">
    👮ログインしてやることを追加しましょう
  </div>
</div>
<%= render partial: 'users/login_form' %>
<% end %>

  <div class="mx-auto" style="width: 100%; font-size: 30px; margin: 10px;">
    🏃‍♂️現在の達成度　：
    <span class="badge text-bg-primary"><%= @archivement.to_f %>%</span>
  </div>





<div class="d-flex align-items-center">
  <div class="mx-auto" style="width: 100%; font-size: 30px; margin: 10px;">
    🏠現在登録中のやること一覧
  </div>
</div>

<% if flash[:notice] %>
  <div class="alert alert-danger"><%= flash[:notice] %></div>
<% end %>

<table class="table table-hover boards__table">
  <thead class="thead-light">
    <tr>
      <th>やること</th>
      <th>作成者</th>
      <th>作成日時</th>
      <th>更新日時</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @boards.each do |board| %>
      <tr>
        <td><%= board.title %></td>
        <td><%= board.name %></td>
        <td><%= board.created_at.to_s(:datetime_jp) %></td>
        <td><%= board.updated_at.to_s(:datetime_jp) %></td>
        <td><%= board.status ? "完了！": "これからやる" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @boards %>
